body {
  margin: auto;
  background-color: beige;
  width: 700px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#clavier input {
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin: 0.5%;
  border-radius: 10px;
  background-color: #DDD8D7;
  font-family: "Arial Rounded MT Bold";
  font-weight: bold;
  cursor: pointer;
}

h1 {
  text-align: center;
}

#container {
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}

.clavier {
  height: auto;
  flex: 1 1 auto;
  justify-content: space-around;
  }

#nbrEssai img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

.nbrEssai {
  font-size: 30px;
  color: crimson;
  text-align: center;
  flex: 1 1 auto;
}


#rejouer {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#rejouer:hover {
  background-color: #3e8e41
}

#rejouer:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 683px ) {
  body {
    width: auto;
    height: auto;
  }
  #nbrEssai img{
    width: auto;
    height: auto;
  }
}

@media screen and (max-height: 799px ) {
  body {
    height: auto;
    width: auto;
  }
  #nbrEssai img{
    float: right;
    width: auto;
    height: auto;
  }
}


@media (orientation: landscape) and (max-width : 540px)and (min-height : 734px)  {
  #nbrEssai img{
    float: right;
    width: 576px;
    height: 242px;
  }
  #clavier{
    width: auto;
  }
  #clavier input {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}
